params.nproc = 1
params.mate="pair"
params.projectDir="${projectDir}"

//1 Process Parameters for params.Filter_Sequence_Quality_filter_seq_quality:
params.Filter_Sequence_Quality_filter_seq_quality.method = "quality"
params.Filter_Sequence_Quality_filter_seq_quality.nproc = params.nproc
params.Filter_Sequence_Quality_filter_seq_quality.q = "20"

//2 Process Parameters for Mask_Primer_MaskPrimers:
params.Mask_Primer_MaskPrimers.nproc = params.nproc
params.Mask_Primer_MaskPrimers.method = ["score","score"]
params.Mask_Primer_MaskPrimers.mode = ["cut","mask"]                            //["trim", "trim"]
params.Mask_Primer_MaskPrimers.primer_field = ["PRIMER","PRIMER"]
params.Mask_Primer_MaskPrimers.barcode_field = ["BARCODE","BARCODE"]
params.Mask_Primer_MaskPrimers.start = [21,0]
params.Mask_Primer_MaskPrimers.barcode = ["true","false"]
params.Mask_Primer_MaskPrimers.umi_length = [0,0]
params.Mask_Primer_MaskPrimers.maxerror = [0.3,0.3]
params.Mask_Primer_MaskPrimers.revpr = ["false","false"]
params.Mask_Primer_MaskPrimers.failed = "true"
params.Mask_Primer_MaskPrimers.R1_primers = "${projectDir}/primers/Primers_R1.fasta"
params.Mask_Primer_MaskPrimers.R2_primers = "${projectDir}/primers/Primers_R2_TS.fasta"

//3 Process Parameters for params.Pair_Sequence_pre_consensus_pair_seq:
params.Pair_Sequence_pair_seq.coord = "sra"
params.Pair_Sequence_pair_seq.act = "none"
params.Pair_Sequence_pair_seq.copy_fields_1 = "ID PRIMER ERROR"                 //""
params.Pair_Sequence_pair_seq.copy_fields_2 = "ID PRIMER ERROR"                 //""
params.Pair_Sequence_pair_seq.nproc = params.nproc

//4 Process Parameters for params.Assemble_pairs_assemble_pairs:
params.Assemble_pairs_assemble_pairs.method = "align"
params.Assemble_pairs_assemble_pairs.coord = "presto"
params.Assemble_pairs_assemble_pairs.rc = "tail"
params.Assemble_pairs_assemble_pairs.head_fields_R1 = "CONSCOUNT"              //??
params.Assemble_pairs_assemble_pairs.head_fields_R2 = "CONSCOUNT PRCONS"       //??
params.Assemble_pairs_assemble_pairs.failed = "false"
params.Assemble_pairs_assemble_pairs.fasta = "false"
params.Assemble_pairs_assemble_pairs.nproc = params.nproc
params.Assemble_pairs_assemble_pairs.alpha = 0.00001
params.Assemble_pairs_assemble_pairs.maxerror = 0.3
params.Assemble_pairs_assemble_pairs.minlen = 8
params.Assemble_pairs_assemble_pairs.maxlen = 1000
params.Assemble_pairs_assemble_pairs.scanrev = "false"
params.Assemble_pairs_assemble_pairs.minident = 0.5
params.Assemble_pairs_assemble_pairs.evalue = 0.00001
params.Assemble_pairs_assemble_pairs.maxhits = 100
params.Assemble_pairs_assemble_pairs.fill = "false"
params.Assemble_pairs_assemble_pairs.gap = 0

//5 Process Parameters for Mask_Primer_align_MaskPrimers:
params.Mask_Primer_align_MaskPrimers.nproc = params.nproc
params.Mask_Primer_align_MaskPrimers.method = ["align"]
params.Mask_Primer_align_MaskPrimers.mode = ["tag"]
params.Mask_Primer_align_MaskPrimers.primer_field = ["PRIMER"]
params.Mask_Primer_align_MaskPrimers.barcode_field = ["BARCODE"]
params.Mask_Primer_align_MaskPrimers.barcode = ["false"]
params.Mask_Primer_align_MaskPrimers.maxerror = [0.3]
params.Mask_Primer_align_MaskPrimers.revpr = ["false"]

//6 Process Parameters for params.edit_collapse_seq_params:
params.collapse_sequences_collapse_seq.act = "sum"
params.collapse_sequences_collapse_seq.inner = "true"
params.collapse_sequences_collapse_seq.uf = "CREGION"
params.collapse_sequences_collapse_seq.cf = ""
params.collapse_sequences_collapse_seq.nproc = params.nproc

//7 Process Parameters for params.split_sequences_split_seq:
params.split_sequences_split_seq.field = "DUPCOUNT"                    //"CONSCOUNT"
params.split_sequences_split_seq.num = 2

//8 Process Parameters for params.Parse_header_table_parse_headers:
params.Parse_header_table_parse_headers.method = "table"
params.Parse_header_table_parse_headers.act = "min"
params.Parse_header_table_parse_headers.args = "-f ID CREGION DUPCOUNT"
//


